<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TauOperationUnitDao">
	<resultMap id="TauOperationUnitResult" type="io.vitess.model.sqlmap.TauOperationUnit">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tauOperationUnitColumns">
	    <![CDATA[
	        	ID as id,
	        	CODE as code,
	        	OU_COMMENT as ouComment,
	        	FULL_NAME as fullName,
	        	IS_AVAILABLE as isAvailable,
	        	NAME as name,
	        	VERSION as version,
	        	OU_TYPE_ID as ouTypeId,
	        	PARENT_OU_ID as parentOuId
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TauOperationUnit"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_au_operation_unit (
		        id,
		        	CODE ,
		        	OU_COMMENT ,
		        	FULL_NAME ,
		        	IS_AVAILABLE ,
		        	NAME ,
		        	VERSION ,
		        	OU_TYPE_ID ,
		        	PARENT_OU_ID 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{code,javaType=String,jdbcType=VARCHAR} ,
		        	#{ouComment,javaType=String,jdbcType=LONGVARCHAR} ,
		        	#{fullName,javaType=String,jdbcType=LONGVARCHAR} ,
		        	#{isAvailable,javaType=Boolean,jdbcType=BIT} ,
		        	#{name,javaType=String,jdbcType=VARCHAR} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{ouTypeId,javaType=Long,jdbcType=BIGINT} ,
		        	#{parentOuId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TauOperationUnit">
	    <![CDATA[
	        UPDATE t_au_operation_unit SET
		        CODE = #{code,javaType=String,jdbcType=VARCHAR} ,
		        OU_COMMENT = #{ouComment,javaType=String,jdbcType=LONGVARCHAR} ,
		        FULL_NAME = #{fullName,javaType=String,jdbcType=LONGVARCHAR} ,
		        IS_AVAILABLE = #{isAvailable,javaType=Boolean,jdbcType=BIT} ,
		        NAME = #{name,javaType=String,jdbcType=VARCHAR} ,
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        OU_TYPE_ID = #{ouTypeId,javaType=Long,jdbcType=BIGINT} ,
		        PARENT_OU_ID = #{parentOuId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_au_operation_unit where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_au_operation_unit 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TauOperationUnitResult" flushCache="false">
			select <include refid="tauOperationUnitColumns" />
		    <![CDATA[
			    from t_au_operation_unit 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TauOperationUnitResult" flushCache="false">
			select <include refid="tauOperationUnitColumns" />
			    from t_au_operation_unit 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tauOperationUnitDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="code!=null">
					and CODE = #{code}
				</if>
	       
				<if test="ouComment!=null">
					and OU_COMMENT = #{ouComment}
				</if>
	       
				<if test="fullName!=null">
					and FULL_NAME = #{fullName}
				</if>
	       
				<if test="isAvailable!=null">
					and IS_AVAILABLE = #{isAvailable}
				</if>
	       
				<if test="name!=null">
					and NAME = #{name}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="ouTypeId!=null">
					and OU_TYPE_ID = #{ouTypeId}
				</if>
	       
				<if test="parentOuId!=null">
					and PARENT_OU_ID = #{parentOuId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_au_operation_unit 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_au_operation_unit 
		<include refid="tauOperationUnitDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_au_operation_unit 
		<include refid="tauOperationUnitDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TauOperationUnitResult">
    	select <include refid="tauOperationUnitColumns" />
	    from t_au_operation_unit 
		<include refid="tauOperationUnitDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TauOperationUnitResult">
    	select <include refid="tauOperationUnitColumns" />
	    from t_au_operation_unit 
		<include refid="tauOperationUnitDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TauOperationUnitResult">
    	select <include refid="tauOperationUnitColumns" />
	    from t_au_operation_unit 
		<include refid="tauOperationUnitDynamicWhere"/>
		
    </select>

	
</mapper>
