<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TmaPromotionApplyLogDao">
	<resultMap id="TmaPromotionApplyLogResult" type="io.vitess.model.sqlmap.TmaPromotionApplyLog">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tmaPromotionApplyLogColumns">
	    <![CDATA[
	        	ID as id,
	        	CREATE_TIME as createTime,
	        	DESCRIPTION as description,
	        	DISCOUNT as discount,
	        	GIFT_QTY as giftQty,
	        	PROMOTION_CODE as promotionCode,
	        	TYPE as type,
	        	VERSION as version,
	        	PROMOTION_GIFT_ID as promotionGiftId,
	        	SOLINE_ID as solineId,
	        	SHOP_ID as shopId,
	        	GIFT_TYPE as giftType
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TmaPromotionApplyLog"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_ma_promotion_apply_log (
		        id,
		        	CREATE_TIME ,
		        	DESCRIPTION ,
		        	DISCOUNT ,
		        	GIFT_QTY ,
		        	PROMOTION_CODE ,
		        	TYPE ,
		        	VERSION ,
		        	PROMOTION_GIFT_ID ,
		        	SOLINE_ID ,
		        	SHOP_ID ,
		        	GIFT_TYPE 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{description,javaType=String,jdbcType=VARCHAR} ,
		        	#{discount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{giftQty,javaType=Integer,jdbcType=INTEGER} ,
		        	#{promotionCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{type,javaType=Integer,jdbcType=TINYINT} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{promotionGiftId,javaType=Long,jdbcType=BIGINT} ,
		        	#{solineId,javaType=Long,jdbcType=BIGINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{giftType,javaType=String,jdbcType=VARCHAR} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TmaPromotionApplyLog">
	    <![CDATA[
	        UPDATE t_ma_promotion_apply_log SET
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        DESCRIPTION = #{description,javaType=String,jdbcType=VARCHAR} ,
		        DISCOUNT = #{discount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        GIFT_QTY = #{giftQty,javaType=Integer,jdbcType=INTEGER} ,
		        PROMOTION_CODE = #{promotionCode,javaType=String,jdbcType=VARCHAR} ,
		        TYPE = #{type,javaType=Integer,jdbcType=TINYINT} ,
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        PROMOTION_GIFT_ID = #{promotionGiftId,javaType=Long,jdbcType=BIGINT} ,
		        SOLINE_ID = #{solineId,javaType=Long,jdbcType=BIGINT} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        GIFT_TYPE = #{giftType,javaType=String,jdbcType=VARCHAR} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_ma_promotion_apply_log where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_ma_promotion_apply_log 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TmaPromotionApplyLogResult" flushCache="false">
			select <include refid="tmaPromotionApplyLogColumns" />
		    <![CDATA[
			    from t_ma_promotion_apply_log 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TmaPromotionApplyLogResult" flushCache="false">
			select <include refid="tmaPromotionApplyLogColumns" />
			    from t_ma_promotion_apply_log 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tmaPromotionApplyLogDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
	       
				<if test="description!=null">
					and DESCRIPTION = #{description}
				</if>
	       
				<if test="discount!=null">
					and DISCOUNT = #{discount}
				</if>
	       
				<if test="giftQty!=null">
					and GIFT_QTY = #{giftQty}
				</if>
	       
				<if test="promotionCode!=null">
					and PROMOTION_CODE = #{promotionCode}
				</if>
	       
				<if test="type!=null">
					and TYPE = #{type}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="promotionGiftId!=null">
					and PROMOTION_GIFT_ID = #{promotionGiftId}
				</if>
	       
				<if test="solineId!=null">
					and SOLINE_ID = #{solineId}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="giftType!=null">
					and GIFT_TYPE = #{giftType}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_ma_promotion_apply_log 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_ma_promotion_apply_log 
		<include refid="tmaPromotionApplyLogDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_ma_promotion_apply_log 
		<include refid="tmaPromotionApplyLogDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TmaPromotionApplyLogResult">
    	select <include refid="tmaPromotionApplyLogColumns" />
	    from t_ma_promotion_apply_log 
		<include refid="tmaPromotionApplyLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TmaPromotionApplyLogResult">
    	select <include refid="tmaPromotionApplyLogColumns" />
	    from t_ma_promotion_apply_log 
		<include refid="tmaPromotionApplyLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TmaPromotionApplyLogResult">
    	select <include refid="tmaPromotionApplyLogColumns" />
	    from t_ma_promotion_apply_log 
		<include refid="tmaPromotionApplyLogDynamicWhere"/>
		
    </select>

	
</mapper>
