<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TmaShopSkuWhRefLogDao">
	<resultMap id="TmaShopSkuWhRefLogResult" type="io.vitess.model.sqlmap.TmaShopSkuWhRefLog">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tmaShopSkuWhRefLogColumns">
	    <![CDATA[
	        	ID as id,
	        	SHOP_SKU_WH_ID as shopSkuWhId,
	        	SHOP_ID as shopId,
	        	SHOP_NAME as shopName,
	        	EXT_CODE as extCode,
	        	WH_CODE as whCode,
	        	WH_NAME as whName,
	        	EFFECTIVE_TIME_BEGIN as effectiveTimeBegin,
	        	EFFECTIVE_TIME_END as effectiveTimeEnd,
	        	ACTIVE_OFF as activeOff,
	        	INPUT_TYPE as inputType,
	        	REMARK as remark,
	        	CREATE_TIME as createTime,
	        	CREATE_USER_NO as createUserNo
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TmaShopSkuWhRefLog"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_ma_shop_sku_wh_ref_log (
		        id,
		        	SHOP_SKU_WH_ID ,
		        	SHOP_ID ,
		        	SHOP_NAME ,
		        	EXT_CODE ,
		        	WH_CODE ,
		        	WH_NAME ,
		        	EFFECTIVE_TIME_BEGIN ,
		        	EFFECTIVE_TIME_END ,
		        	ACTIVE_OFF ,
		        	INPUT_TYPE ,
		        	REMARK ,
		        	CREATE_TIME ,
		        	CREATE_USER_NO 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{shopSkuWhId,javaType=Long,jdbcType=BIGINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{shopName,javaType=String,jdbcType=VARCHAR} ,
		        	#{extCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{whCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{whName,javaType=String,jdbcType=VARCHAR} ,
		        	#{effectiveTimeBegin,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{effectiveTimeEnd,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{activeOff,javaType=String,jdbcType=VARCHAR} ,
		        	#{inputType,javaType=String,jdbcType=VARCHAR} ,
		        	#{remark,javaType=String,jdbcType=VARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{createUserNo,javaType=String,jdbcType=VARCHAR} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TmaShopSkuWhRefLog">
	    <![CDATA[
	        UPDATE t_ma_shop_sku_wh_ref_log SET
		        SHOP_SKU_WH_ID = #{shopSkuWhId,javaType=Long,jdbcType=BIGINT} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        SHOP_NAME = #{shopName,javaType=String,jdbcType=VARCHAR} ,
		        EXT_CODE = #{extCode,javaType=String,jdbcType=VARCHAR} ,
		        WH_CODE = #{whCode,javaType=String,jdbcType=VARCHAR} ,
		        WH_NAME = #{whName,javaType=String,jdbcType=VARCHAR} ,
		        EFFECTIVE_TIME_BEGIN = #{effectiveTimeBegin,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        EFFECTIVE_TIME_END = #{effectiveTimeEnd,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        ACTIVE_OFF = #{activeOff,javaType=String,jdbcType=VARCHAR} ,
		        INPUT_TYPE = #{inputType,javaType=String,jdbcType=VARCHAR} ,
		        REMARK = #{remark,javaType=String,jdbcType=VARCHAR} ,
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        CREATE_USER_NO = #{createUserNo,javaType=String,jdbcType=VARCHAR} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_ma_shop_sku_wh_ref_log where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_ma_shop_sku_wh_ref_log 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TmaShopSkuWhRefLogResult" flushCache="false">
			select <include refid="tmaShopSkuWhRefLogColumns" />
		    <![CDATA[
			    from t_ma_shop_sku_wh_ref_log 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TmaShopSkuWhRefLogResult" flushCache="false">
			select <include refid="tmaShopSkuWhRefLogColumns" />
			    from t_ma_shop_sku_wh_ref_log 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tmaShopSkuWhRefLogDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="shopSkuWhId!=null">
					and SHOP_SKU_WH_ID = #{shopSkuWhId}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="shopName!=null">
					and SHOP_NAME = #{shopName}
				</if>
	       
				<if test="extCode!=null">
					and EXT_CODE = #{extCode}
				</if>
	       
				<if test="whCode!=null">
					and WH_CODE = #{whCode}
				</if>
	       
				<if test="whName!=null">
					and WH_NAME = #{whName}
				</if>
	       
				<if test="effectiveTimeBegin!=null">
					and EFFECTIVE_TIME_BEGIN = #{effectiveTimeBegin}
				</if>
	       
				<if test="effectiveTimeEnd!=null">
					and EFFECTIVE_TIME_END = #{effectiveTimeEnd}
				</if>
	       
				<if test="activeOff!=null">
					and ACTIVE_OFF = #{activeOff}
				</if>
	       
				<if test="inputType!=null">
					and INPUT_TYPE = #{inputType}
				</if>
	       
				<if test="remark!=null">
					and REMARK = #{remark}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
	       
				<if test="createUserNo!=null">
					and CREATE_USER_NO = #{createUserNo}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_ma_shop_sku_wh_ref_log 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_ma_shop_sku_wh_ref_log 
		<include refid="tmaShopSkuWhRefLogDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_ma_shop_sku_wh_ref_log 
		<include refid="tmaShopSkuWhRefLogDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TmaShopSkuWhRefLogResult">
    	select <include refid="tmaShopSkuWhRefLogColumns" />
	    from t_ma_shop_sku_wh_ref_log 
		<include refid="tmaShopSkuWhRefLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TmaShopSkuWhRefLogResult">
    	select <include refid="tmaShopSkuWhRefLogColumns" />
	    from t_ma_shop_sku_wh_ref_log 
		<include refid="tmaShopSkuWhRefLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TmaShopSkuWhRefLogResult">
    	select <include refid="tmaShopSkuWhRefLogColumns" />
	    from t_ma_shop_sku_wh_ref_log 
		<include refid="tmaShopSkuWhRefLogDynamicWhere"/>
		
    </select>

	
</mapper>
