<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TmaSpecialSkuDao">
	<resultMap id="TmaSpecialSkuResult" type="io.vitess.model.sqlmap.TmaSpecialSku">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tmaSpecialSkuColumns">
	    <![CDATA[
	        	ID as id,
	        	VERSION as version,
	        	SHOP_ID as shopId,
	        	SKU_CODE as skuCode,
	        	EXT_CODE as extCode,
	        	SKU_TYPE as skuType,
	        	REMARK as remark,
	        	CREATE_USER as createUser,
	        	CREATE_TIME as createTime
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TmaSpecialSku"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_ma_special_sku (
		        id,
		        	VERSION ,
		        	SHOP_ID ,
		        	SKU_CODE ,
		        	EXT_CODE ,
		        	SKU_TYPE ,
		        	REMARK ,
		        	CREATE_USER ,
		        	CREATE_TIME 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{skuCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{extCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{skuType,javaType=Integer,jdbcType=INTEGER} ,
		        	#{remark,javaType=String,jdbcType=VARCHAR} ,
		        	#{createUser,javaType=String,jdbcType=VARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TmaSpecialSku">
	    <![CDATA[
	        UPDATE t_ma_special_sku SET
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        SKU_CODE = #{skuCode,javaType=String,jdbcType=VARCHAR} ,
		        EXT_CODE = #{extCode,javaType=String,jdbcType=VARCHAR} ,
		        SKU_TYPE = #{skuType,javaType=Integer,jdbcType=INTEGER} ,
		        REMARK = #{remark,javaType=String,jdbcType=VARCHAR} ,
		        CREATE_USER = #{createUser,javaType=String,jdbcType=VARCHAR} ,
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_ma_special_sku where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_ma_special_sku 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TmaSpecialSkuResult" flushCache="false">
			select <include refid="tmaSpecialSkuColumns" />
		    <![CDATA[
			    from t_ma_special_sku 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TmaSpecialSkuResult" flushCache="false">
			select <include refid="tmaSpecialSkuColumns" />
			    from t_ma_special_sku 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tmaSpecialSkuDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="skuCode!=null">
					and SKU_CODE = #{skuCode}
				</if>
	       
				<if test="extCode!=null">
					and EXT_CODE = #{extCode}
				</if>
	       
				<if test="skuType!=null">
					and SKU_TYPE = #{skuType}
				</if>
	       
				<if test="remark!=null">
					and REMARK = #{remark}
				</if>
	       
				<if test="createUser!=null">
					and CREATE_USER = #{createUser}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_ma_special_sku 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_ma_special_sku 
		<include refid="tmaSpecialSkuDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_ma_special_sku 
		<include refid="tmaSpecialSkuDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TmaSpecialSkuResult">
    	select <include refid="tmaSpecialSkuColumns" />
	    from t_ma_special_sku 
		<include refid="tmaSpecialSkuDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TmaSpecialSkuResult">
    	select <include refid="tmaSpecialSkuColumns" />
	    from t_ma_special_sku 
		<include refid="tmaSpecialSkuDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TmaSpecialSkuResult">
    	select <include refid="tmaSpecialSkuColumns" />
	    from t_ma_special_sku 
		<include refid="tmaSpecialSkuDynamicWhere"/>
		
    </select>

	
</mapper>
