<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TmaServiceInstallCompanyDao">
	<resultMap id="TmaServiceInstallCompanyResult" type="io.vitess.model.sqlmap.TmaServiceInstallCompany">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tmaServiceInstallCompanyColumns">
	    <![CDATA[
	        	ID as id,
	        	SHOP_ID as shopId,
	        	PROVINCE as province,
	        	CITY as city,
	        	DISTRICT as district,
	        	COMPANY_CODE as companyCode,
	        	COMPANY_NAME as companyName,
	        	IS_ENABLED as isEnabled,
	        	CREATE_TIME as createTime,
	        	CREATOR as creator
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TmaServiceInstallCompany"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_ma_service_install_company (
		        id,
		        	SHOP_ID ,
		        	PROVINCE ,
		        	CITY ,
		        	DISTRICT ,
		        	COMPANY_CODE ,
		        	COMPANY_NAME ,
		        	IS_ENABLED ,
		        	CREATE_TIME ,
		        	CREATOR 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{province,javaType=String,jdbcType=VARCHAR} ,
		        	#{city,javaType=String,jdbcType=VARCHAR} ,
		        	#{district,javaType=String,jdbcType=VARCHAR} ,
		        	#{companyCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{companyName,javaType=String,jdbcType=VARCHAR} ,
		        	#{isEnabled,javaType=Integer,jdbcType=TINYINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{creator,javaType=String,jdbcType=VARCHAR} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TmaServiceInstallCompany">
	    <![CDATA[
	        UPDATE t_ma_service_install_company SET
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        PROVINCE = #{province,javaType=String,jdbcType=VARCHAR} ,
		        CITY = #{city,javaType=String,jdbcType=VARCHAR} ,
		        DISTRICT = #{district,javaType=String,jdbcType=VARCHAR} ,
		        COMPANY_CODE = #{companyCode,javaType=String,jdbcType=VARCHAR} ,
		        COMPANY_NAME = #{companyName,javaType=String,jdbcType=VARCHAR} ,
		        IS_ENABLED = #{isEnabled,javaType=Integer,jdbcType=TINYINT} ,
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_ma_service_install_company where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_ma_service_install_company 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TmaServiceInstallCompanyResult" flushCache="false">
			select <include refid="tmaServiceInstallCompanyColumns" />
		    <![CDATA[
			    from t_ma_service_install_company 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TmaServiceInstallCompanyResult" flushCache="false">
			select <include refid="tmaServiceInstallCompanyColumns" />
			    from t_ma_service_install_company 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tmaServiceInstallCompanyDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="province!=null">
					and PROVINCE = #{province}
				</if>
	       
				<if test="city!=null">
					and CITY = #{city}
				</if>
	       
				<if test="district!=null">
					and DISTRICT = #{district}
				</if>
	       
				<if test="companyCode!=null">
					and COMPANY_CODE = #{companyCode}
				</if>
	       
				<if test="companyName!=null">
					and COMPANY_NAME = #{companyName}
				</if>
	       
				<if test="isEnabled!=null">
					and IS_ENABLED = #{isEnabled}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
	       
				<if test="creator!=null">
					and CREATOR = #{creator}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_ma_service_install_company 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_ma_service_install_company 
		<include refid="tmaServiceInstallCompanyDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_ma_service_install_company 
		<include refid="tmaServiceInstallCompanyDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TmaServiceInstallCompanyResult">
    	select <include refid="tmaServiceInstallCompanyColumns" />
	    from t_ma_service_install_company 
		<include refid="tmaServiceInstallCompanyDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TmaServiceInstallCompanyResult">
    	select <include refid="tmaServiceInstallCompanyColumns" />
	    from t_ma_service_install_company 
		<include refid="tmaServiceInstallCompanyDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TmaServiceInstallCompanyResult">
    	select <include refid="tmaServiceInstallCompanyColumns" />
	    from t_ma_service_install_company 
		<include refid="tmaServiceInstallCompanyDynamicWhere"/>
		
    </select>

	
</mapper>
