<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TmaVmiTimedPromotionDao">
	<resultMap id="TmaVmiTimedPromotionResult" type="io.vitess.model.sqlmap.TmaVmiTimedPromotion">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tmaVmiTimedPromotionColumns">
	    <![CDATA[
	        	ID as id,
	        	CODE as code,
	        	DESCRIPTION as description,
	        	END_TIME as endTime,
	        	GIFT_QUOTA as giftQuota,
	        	PRO_AMOUNT as proAmount,
	        	PRO_AMOUNT2 as proAmount2,
	        	PRO_TYPE as proType,
	        	START_TIME as startTime,
	        	STATUS as status,
	        	VERSION as version,
	        	MST_SKU_ID as mstSkuId,
	        	SKU_ID as skuId,
	        	SHOP_ID as shopId
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TmaVmiTimedPromotion"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_ma_vmi_timed_promotion (
		        id,
		        	CODE ,
		        	DESCRIPTION ,
		        	END_TIME ,
		        	GIFT_QUOTA ,
		        	PRO_AMOUNT ,
		        	PRO_AMOUNT2 ,
		        	PRO_TYPE ,
		        	START_TIME ,
		        	STATUS ,
		        	VERSION ,
		        	MST_SKU_ID ,
		        	SKU_ID ,
		        	SHOP_ID 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{code,javaType=String,jdbcType=VARCHAR} ,
		        	#{description,javaType=String,jdbcType=VARCHAR} ,
		        	#{endTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{giftQuota,javaType=Integer,jdbcType=INTEGER} ,
		        	#{proAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{proAmount2,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{proType,javaType=String,jdbcType=VARCHAR} ,
		        	#{startTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{status,javaType=Integer,jdbcType=INTEGER} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{mstSkuId,javaType=Long,jdbcType=BIGINT} ,
		        	#{skuId,javaType=Long,jdbcType=BIGINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TmaVmiTimedPromotion">
	    <![CDATA[
	        UPDATE t_ma_vmi_timed_promotion SET
		        CODE = #{code,javaType=String,jdbcType=VARCHAR} ,
		        DESCRIPTION = #{description,javaType=String,jdbcType=VARCHAR} ,
		        END_TIME = #{endTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        GIFT_QUOTA = #{giftQuota,javaType=Integer,jdbcType=INTEGER} ,
		        PRO_AMOUNT = #{proAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        PRO_AMOUNT2 = #{proAmount2,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        PRO_TYPE = #{proType,javaType=String,jdbcType=VARCHAR} ,
		        START_TIME = #{startTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        STATUS = #{status,javaType=Integer,jdbcType=INTEGER} ,
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        MST_SKU_ID = #{mstSkuId,javaType=Long,jdbcType=BIGINT} ,
		        SKU_ID = #{skuId,javaType=Long,jdbcType=BIGINT} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_ma_vmi_timed_promotion where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_ma_vmi_timed_promotion 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TmaVmiTimedPromotionResult" flushCache="false">
			select <include refid="tmaVmiTimedPromotionColumns" />
		    <![CDATA[
			    from t_ma_vmi_timed_promotion 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TmaVmiTimedPromotionResult" flushCache="false">
			select <include refid="tmaVmiTimedPromotionColumns" />
			    from t_ma_vmi_timed_promotion 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tmaVmiTimedPromotionDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="code!=null">
					and CODE = #{code}
				</if>
	       
				<if test="description!=null">
					and DESCRIPTION = #{description}
				</if>
	       
				<if test="endTime!=null">
					and END_TIME = #{endTime}
				</if>
	       
				<if test="giftQuota!=null">
					and GIFT_QUOTA = #{giftQuota}
				</if>
	       
				<if test="proAmount!=null">
					and PRO_AMOUNT = #{proAmount}
				</if>
	       
				<if test="proAmount2!=null">
					and PRO_AMOUNT2 = #{proAmount2}
				</if>
	       
				<if test="proType!=null">
					and PRO_TYPE = #{proType}
				</if>
	       
				<if test="startTime!=null">
					and START_TIME = #{startTime}
				</if>
	       
				<if test="status!=null">
					and STATUS = #{status}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="mstSkuId!=null">
					and MST_SKU_ID = #{mstSkuId}
				</if>
	       
				<if test="skuId!=null">
					and SKU_ID = #{skuId}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_ma_vmi_timed_promotion 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_ma_vmi_timed_promotion 
		<include refid="tmaVmiTimedPromotionDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_ma_vmi_timed_promotion 
		<include refid="tmaVmiTimedPromotionDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TmaVmiTimedPromotionResult">
    	select <include refid="tmaVmiTimedPromotionColumns" />
	    from t_ma_vmi_timed_promotion 
		<include refid="tmaVmiTimedPromotionDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TmaVmiTimedPromotionResult">
    	select <include refid="tmaVmiTimedPromotionColumns" />
	    from t_ma_vmi_timed_promotion 
		<include refid="tmaVmiTimedPromotionDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TmaVmiTimedPromotionResult">
    	select <include refid="tmaVmiTimedPromotionColumns" />
	    from t_ma_vmi_timed_promotion 
		<include refid="tmaVmiTimedPromotionDynamicWhere"/>
		
    </select>

	
</mapper>
