<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TsendSoMsgDao">
	<resultMap id="TsendSoMsgResult" type="io.vitess.model.sqlmap.TsendSoMsg">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tsendSoMsgColumns">
	    <![CDATA[
	        	ID as id,
	        	CONFIRM_TIME as confirmTime,
	        	CONTENT as content,
	        	CREATE_TIME as createTime,
	        	DESCRIPTION as description,
	        	ERROR_CODE as errorCode,
	        	ERROR_MESSAGE as errorMessage,
	        	SHOP_ID as shopId,
	        	SYNC_COUNTER as syncCounter,
	        	SYNC_STATUS as syncStatus,
	        	SYNC_TIME as syncTime,
	        	TID as tid,
	        	MSG_TYPE as msgType,
	        	VERSION as version,
	        	SHOP_CODE as shopCode,
	        	CONFIRM_ID as confirmId,
	        	EXT1 as ext1,
	        	EXT2 as ext2
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TsendSoMsg"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_send_so_msg (
		        id,
		        	CONFIRM_TIME ,
		        	CONTENT ,
		        	CREATE_TIME ,
		        	DESCRIPTION ,
		        	ERROR_CODE ,
		        	ERROR_MESSAGE ,
		        	SHOP_ID ,
		        	SYNC_COUNTER ,
		        	SYNC_STATUS ,
		        	SYNC_TIME ,
		        	TID ,
		        	MSG_TYPE ,
		        	VERSION ,
		        	SHOP_CODE ,
		        	CONFIRM_ID ,
		        	EXT1 ,
		        	EXT2 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{confirmTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{content,javaType=String,jdbcType=LONGVARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{description,javaType=String,jdbcType=VARCHAR} ,
		        	#{errorCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{errorMessage,javaType=String,jdbcType=VARCHAR} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{syncCounter,javaType=Integer,jdbcType=INTEGER} ,
		        	#{syncStatus,javaType=Integer,jdbcType=INTEGER} ,
		        	#{syncTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{tid,javaType=Long,jdbcType=BIGINT} ,
		        	#{msgType,javaType=String,jdbcType=VARCHAR} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{shopCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{confirmId,javaType=String,jdbcType=VARCHAR} ,
		        	#{ext1,javaType=String,jdbcType=VARCHAR} ,
		        	#{ext2,javaType=String,jdbcType=VARCHAR} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TsendSoMsg">
	    <![CDATA[
	        UPDATE t_send_so_msg SET
		        CONFIRM_TIME = #{confirmTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        CONTENT = #{content,javaType=String,jdbcType=LONGVARCHAR} ,
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        DESCRIPTION = #{description,javaType=String,jdbcType=VARCHAR} ,
		        ERROR_CODE = #{errorCode,javaType=String,jdbcType=VARCHAR} ,
		        ERROR_MESSAGE = #{errorMessage,javaType=String,jdbcType=VARCHAR} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        SYNC_COUNTER = #{syncCounter,javaType=Integer,jdbcType=INTEGER} ,
		        SYNC_STATUS = #{syncStatus,javaType=Integer,jdbcType=INTEGER} ,
		        SYNC_TIME = #{syncTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        TID = #{tid,javaType=Long,jdbcType=BIGINT} ,
		        MSG_TYPE = #{msgType,javaType=String,jdbcType=VARCHAR} ,
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        SHOP_CODE = #{shopCode,javaType=String,jdbcType=VARCHAR} ,
		        CONFIRM_ID = #{confirmId,javaType=String,jdbcType=VARCHAR} ,
		        EXT1 = #{ext1,javaType=String,jdbcType=VARCHAR} ,
		        EXT2 = #{ext2,javaType=String,jdbcType=VARCHAR} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_send_so_msg where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_send_so_msg 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TsendSoMsgResult" flushCache="false">
			select <include refid="tsendSoMsgColumns" />
		    <![CDATA[
			    from t_send_so_msg 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TsendSoMsgResult" flushCache="false">
			select <include refid="tsendSoMsgColumns" />
			    from t_send_so_msg 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tsendSoMsgDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="confirmTime!=null">
					and CONFIRM_TIME = #{confirmTime}
				</if>
	       
				<if test="content!=null">
					and CONTENT = #{content}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
	       
				<if test="description!=null">
					and DESCRIPTION = #{description}
				</if>
	       
				<if test="errorCode!=null">
					and ERROR_CODE = #{errorCode}
				</if>
	       
				<if test="errorMessage!=null">
					and ERROR_MESSAGE = #{errorMessage}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="syncCounter!=null">
					and SYNC_COUNTER = #{syncCounter}
				</if>
	       
				<if test="syncStatus!=null">
					and SYNC_STATUS = #{syncStatus}
				</if>
	       
				<if test="syncTime!=null">
					and SYNC_TIME = #{syncTime}
				</if>
	       
				<if test="tid!=null">
					and TID = #{tid}
				</if>
	       
				<if test="msgType!=null">
					and MSG_TYPE = #{msgType}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="shopCode!=null">
					and SHOP_CODE = #{shopCode}
				</if>
	       
				<if test="confirmId!=null">
					and CONFIRM_ID = #{confirmId}
				</if>
	       
				<if test="ext1!=null">
					and EXT1 = #{ext1}
				</if>
	       
				<if test="ext2!=null">
					and EXT2 = #{ext2}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_send_so_msg 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_send_so_msg 
		<include refid="tsendSoMsgDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_send_so_msg 
		<include refid="tsendSoMsgDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TsendSoMsgResult">
    	select <include refid="tsendSoMsgColumns" />
	    from t_send_so_msg 
		<include refid="tsendSoMsgDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TsendSoMsgResult">
    	select <include refid="tsendSoMsgColumns" />
	    from t_send_so_msg 
		<include refid="tsendSoMsgDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TsendSoMsgResult">
    	select <include refid="tsendSoMsgColumns" />
	    from t_send_so_msg 
		<include refid="tsendSoMsgDynamicWhere"/>
		
    </select>

	
</mapper>
