<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TsoPlatformSoLogDao">
	<resultMap id="TsoPlatformSoLogResult" type="io.vitess.model.sqlmap.TsoPlatformSoLog">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tsoPlatformSoLogColumns">
	    <![CDATA[
	        	ID as id,
	        	CODE as code,
	        	SHOP_ID as shopId,
	        	MQ_SO_LOG_ID as mqSoLogId,
	        	SOURCE_MSG as sourceMsg
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TsoPlatformSoLog"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_so_platform_so_log (
		        id,
		        	CODE ,
		        	SHOP_ID ,
		        	MQ_SO_LOG_ID ,
		        	SOURCE_MSG 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{code,javaType=String,jdbcType=VARCHAR} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{mqSoLogId,javaType=Long,jdbcType=BIGINT} ,
		        	#{sourceMsg,javaType=String,jdbcType=LONGVARCHAR} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TsoPlatformSoLog">
	    <![CDATA[
	        UPDATE t_so_platform_so_log SET
		        CODE = #{code,javaType=String,jdbcType=VARCHAR} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        MQ_SO_LOG_ID = #{mqSoLogId,javaType=Long,jdbcType=BIGINT} ,
		        SOURCE_MSG = #{sourceMsg,javaType=String,jdbcType=LONGVARCHAR} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_so_platform_so_log where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_so_platform_so_log 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TsoPlatformSoLogResult" flushCache="false">
			select <include refid="tsoPlatformSoLogColumns" />
		    <![CDATA[
			    from t_so_platform_so_log 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TsoPlatformSoLogResult" flushCache="false">
			select <include refid="tsoPlatformSoLogColumns" />
			    from t_so_platform_so_log 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tsoPlatformSoLogDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="code!=null">
					and CODE = #{code}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="mqSoLogId!=null">
					and MQ_SO_LOG_ID = #{mqSoLogId}
				</if>
	       
				<if test="sourceMsg!=null">
					and SOURCE_MSG = #{sourceMsg}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_so_platform_so_log 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_so_platform_so_log 
		<include refid="tsoPlatformSoLogDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_so_platform_so_log 
		<include refid="tsoPlatformSoLogDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TsoPlatformSoLogResult">
    	select <include refid="tsoPlatformSoLogColumns" />
	    from t_so_platform_so_log 
		<include refid="tsoPlatformSoLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TsoPlatformSoLogResult">
    	select <include refid="tsoPlatformSoLogColumns" />
	    from t_so_platform_so_log 
		<include refid="tsoPlatformSoLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TsoPlatformSoLogResult">
    	select <include refid="tsoPlatformSoLogColumns" />
	    from t_so_platform_so_log 
		<include refid="tsoPlatformSoLogDynamicWhere"/>
		
    </select>

	
</mapper>
