<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TsoTaobaoSendDao">
	<resultMap id="TsoTaobaoSendResult" type="io.vitess.model.sqlmap.TsoTaobaoSend">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="tsoTaobaoSendColumns">
	    <![CDATA[
	        	ID as id,
	        	SHOP_ID as shopId,
	        	PLATFORM_ORDER_CODE as platformOrderCode,
	        	TARGET_CODE as targetCode,
	        	TARGET_TYPE as targetType,
	        	PROCESS_STATUS as processStatus,
	        	PROCESS_RESULT as processResult,
	        	SALES_ORDER_ID as salesOrderId,
	        	TYPE as type
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TsoTaobaoSend"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_so_taobao_send (
		        id,
		        	SHOP_ID ,
		        	PLATFORM_ORDER_CODE ,
		        	TARGET_CODE ,
		        	TARGET_TYPE ,
		        	PROCESS_STATUS ,
		        	PROCESS_RESULT ,
		        	SALES_ORDER_ID ,
		        	TYPE 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{platformOrderCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{targetCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{targetType,javaType=String,jdbcType=VARCHAR} ,
		        	#{processStatus,javaType=Integer,jdbcType=INTEGER} ,
		        	#{processResult,javaType=String,jdbcType=VARCHAR} ,
		        	#{salesOrderId,javaType=Long,jdbcType=BIGINT} ,
		        	#{type,javaType=Integer,jdbcType=INTEGER} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TsoTaobaoSend">
	    <![CDATA[
	        UPDATE t_so_taobao_send SET
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        PLATFORM_ORDER_CODE = #{platformOrderCode,javaType=String,jdbcType=VARCHAR} ,
		        TARGET_CODE = #{targetCode,javaType=String,jdbcType=VARCHAR} ,
		        TARGET_TYPE = #{targetType,javaType=String,jdbcType=VARCHAR} ,
		        PROCESS_STATUS = #{processStatus,javaType=Integer,jdbcType=INTEGER} ,
		        PROCESS_RESULT = #{processResult,javaType=String,jdbcType=VARCHAR} ,
		        SALES_ORDER_ID = #{salesOrderId,javaType=Long,jdbcType=BIGINT} ,
		        TYPE = #{type,javaType=Integer,jdbcType=INTEGER} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_so_taobao_send where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_so_taobao_send 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TsoTaobaoSendResult" flushCache="false">
			select <include refid="tsoTaobaoSendColumns" />
		    <![CDATA[
			    from t_so_taobao_send 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TsoTaobaoSendResult" flushCache="false">
			select <include refid="tsoTaobaoSendColumns" />
			    from t_so_taobao_send 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="tsoTaobaoSendDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="platformOrderCode!=null">
					and PLATFORM_ORDER_CODE = #{platformOrderCode}
				</if>
	       
				<if test="targetCode!=null">
					and TARGET_CODE = #{targetCode}
				</if>
	       
				<if test="targetType!=null">
					and TARGET_TYPE = #{targetType}
				</if>
	       
				<if test="processStatus!=null">
					and PROCESS_STATUS = #{processStatus}
				</if>
	       
				<if test="processResult!=null">
					and PROCESS_RESULT = #{processResult}
				</if>
	       
				<if test="salesOrderId!=null">
					and SALES_ORDER_ID = #{salesOrderId}
				</if>
	       
				<if test="type!=null">
					and TYPE = #{type}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_so_taobao_send 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_so_taobao_send 
		<include refid="tsoTaobaoSendDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_so_taobao_send 
		<include refid="tsoTaobaoSendDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TsoTaobaoSendResult">
    	select <include refid="tsoTaobaoSendColumns" />
	    from t_so_taobao_send 
		<include refid="tsoTaobaoSendDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TsoTaobaoSendResult">
    	select <include refid="tsoTaobaoSendColumns" />
	    from t_so_taobao_send 
		<include refid="tsoTaobaoSendDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TsoTaobaoSendResult">
    	select <include refid="tsoTaobaoSendColumns" />
	    from t_so_taobao_send 
		<include refid="tsoTaobaoSendDynamicWhere"/>
		
    </select>

	
</mapper>
