<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TtdCreateLogLineDao">
	<resultMap id="TtdCreateLogLineResult" type="io.vitess.model.sqlmap.TtdCreateLogLine">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ttdCreateLogLineColumns">
	    <![CDATA[
	        	ID as id,
	        	IS_SUCCESSED as isSuccessed,
	        	PLATFORM_ORDER_CODE as platformOrderCode,
	        	REMARK as remark,
	        	VERSION as version,
	        	TD_CREATELOG_ID as tdCreatelogId,
	        	TRADE_ID as tradeId
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TtdCreateLogLine"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_td_create_log_line (
		        id,
		        	IS_SUCCESSED ,
		        	PLATFORM_ORDER_CODE ,
		        	REMARK ,
		        	VERSION ,
		        	TD_CREATELOG_ID ,
		        	TRADE_ID 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{isSuccessed,javaType=Boolean,jdbcType=BIT} ,
		        	#{platformOrderCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{remark,javaType=String,jdbcType=VARCHAR} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{tdCreatelogId,javaType=Long,jdbcType=BIGINT} ,
		        	#{tradeId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TtdCreateLogLine">
	    <![CDATA[
	        UPDATE t_td_create_log_line SET
		        IS_SUCCESSED = #{isSuccessed,javaType=Boolean,jdbcType=BIT} ,
		        PLATFORM_ORDER_CODE = #{platformOrderCode,javaType=String,jdbcType=VARCHAR} ,
		        REMARK = #{remark,javaType=String,jdbcType=VARCHAR} ,
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        TD_CREATELOG_ID = #{tdCreatelogId,javaType=Long,jdbcType=BIGINT} ,
		        TRADE_ID = #{tradeId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_td_create_log_line where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_td_create_log_line 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TtdCreateLogLineResult" flushCache="false">
			select <include refid="ttdCreateLogLineColumns" />
		    <![CDATA[
			    from t_td_create_log_line 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TtdCreateLogLineResult" flushCache="false">
			select <include refid="ttdCreateLogLineColumns" />
			    from t_td_create_log_line 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="ttdCreateLogLineDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="isSuccessed!=null">
					and IS_SUCCESSED = #{isSuccessed}
				</if>
	       
				<if test="platformOrderCode!=null">
					and PLATFORM_ORDER_CODE = #{platformOrderCode}
				</if>
	       
				<if test="remark!=null">
					and REMARK = #{remark}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="tdCreatelogId!=null">
					and TD_CREATELOG_ID = #{tdCreatelogId}
				</if>
	       
				<if test="tradeId!=null">
					and TRADE_ID = #{tradeId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_td_create_log_line 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_td_create_log_line 
		<include refid="ttdCreateLogLineDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_td_create_log_line 
		<include refid="ttdCreateLogLineDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TtdCreateLogLineResult">
    	select <include refid="ttdCreateLogLineColumns" />
	    from t_td_create_log_line 
		<include refid="ttdCreateLogLineDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TtdCreateLogLineResult">
    	select <include refid="ttdCreateLogLineColumns" />
	    from t_td_create_log_line 
		<include refid="ttdCreateLogLineDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TtdCreateLogLineResult">
    	select <include refid="ttdCreateLogLineColumns" />
	    from t_td_create_log_line 
		<include refid="ttdCreateLogLineDynamicWhere"/>
		
    </select>

	
</mapper>
