<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TtdCreateLogDao">
	<resultMap id="TtdCreateLogResult" type="io.vitess.model.sqlmap.TtdCreateLog">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ttdCreateLogColumns">
	    <![CDATA[
	        	ID as id,
	        	CREATE_TIME as createTime,
	        	TD_QTY as tdQty,
	        	SO_CREATE_LOG_TYPE as soCreateLogType,
	        	VERSION as version,
	        	USER_ID as userId,
	        	SHOP_ID as shopId
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TtdCreateLog"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_td_create_log (
		        id,
		        	CREATE_TIME ,
		        	TD_QTY ,
		        	SO_CREATE_LOG_TYPE ,
		        	VERSION ,
		        	USER_ID ,
		        	SHOP_ID 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{tdQty,javaType=Long,jdbcType=BIGINT} ,
		        	#{soCreateLogType,javaType=Integer,jdbcType=INTEGER} ,
		        	#{version,javaType=Integer,jdbcType=INTEGER} ,
		        	#{userId,javaType=Long,jdbcType=BIGINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TtdCreateLog">
	    <![CDATA[
	        UPDATE t_td_create_log SET
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        TD_QTY = #{tdQty,javaType=Long,jdbcType=BIGINT} ,
		        SO_CREATE_LOG_TYPE = #{soCreateLogType,javaType=Integer,jdbcType=INTEGER} ,
		        VERSION = #{version,javaType=Integer,jdbcType=INTEGER} ,
		        USER_ID = #{userId,javaType=Long,jdbcType=BIGINT} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_td_create_log where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_td_create_log 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TtdCreateLogResult" flushCache="false">
			select <include refid="ttdCreateLogColumns" />
		    <![CDATA[
			    from t_td_create_log 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TtdCreateLogResult" flushCache="false">
			select <include refid="ttdCreateLogColumns" />
			    from t_td_create_log 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="ttdCreateLogDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
	       
				<if test="tdQty!=null">
					and TD_QTY = #{tdQty}
				</if>
	       
				<if test="soCreateLogType!=null">
					and SO_CREATE_LOG_TYPE = #{soCreateLogType}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="userId!=null">
					and USER_ID = #{userId}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_td_create_log 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_td_create_log 
		<include refid="ttdCreateLogDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_td_create_log 
		<include refid="ttdCreateLogDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TtdCreateLogResult">
    	select <include refid="ttdCreateLogColumns" />
	    from t_td_create_log 
		<include refid="ttdCreateLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TtdCreateLogResult">
    	select <include refid="ttdCreateLogColumns" />
	    from t_td_create_log 
		<include refid="ttdCreateLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TtdCreateLogResult">
    	select <include refid="ttdCreateLogColumns" />
	    from t_td_create_log 
		<include refid="ttdCreateLogDynamicWhere"/>
		
    </select>

	
</mapper>
