<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TtdSoLineSnDao">
	<resultMap id="TtdSoLineSnResult" type="io.vitess.model.sqlmap.TtdSoLineSn">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ttdSoLineSnColumns">
	    <![CDATA[
	        	ID as id,
	        	SO_ID as soId,
	        	SO_LINE_ID as soLineId,
	        	SN as sn,
	        	STATUS as status,
	        	SHOP_ID as shopId,
	        	IS_HAVE_SUB as isHaveSub,
	        	IS_CUT_WATCH_BAND as isCutWatchBand,
	        	CUT_NUM as cutNum
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TtdSoLineSn"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_td_so_line_sn (
		        id,
		        	SO_ID ,
		        	SO_LINE_ID ,
		        	SN ,
		        	STATUS ,
		        	SHOP_ID ,
		        	IS_HAVE_SUB ,
		        	IS_CUT_WATCH_BAND ,
		        	CUT_NUM 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{soId,javaType=Long,jdbcType=BIGINT} ,
		        	#{soLineId,javaType=Long,jdbcType=BIGINT} ,
		        	#{sn,javaType=String,jdbcType=VARCHAR} ,
		        	#{status,javaType=Integer,jdbcType=TINYINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{isHaveSub,javaType=Integer,jdbcType=TINYINT} ,
		        	#{isCutWatchBand,javaType=Boolean,jdbcType=BIT} ,
		        	#{cutNum,javaType=Integer,jdbcType=INTEGER} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TtdSoLineSn">
	    <![CDATA[
	        UPDATE t_td_so_line_sn SET
		        SO_ID = #{soId,javaType=Long,jdbcType=BIGINT} ,
		        SO_LINE_ID = #{soLineId,javaType=Long,jdbcType=BIGINT} ,
		        SN = #{sn,javaType=String,jdbcType=VARCHAR} ,
		        STATUS = #{status,javaType=Integer,jdbcType=TINYINT} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        IS_HAVE_SUB = #{isHaveSub,javaType=Integer,jdbcType=TINYINT} ,
		        IS_CUT_WATCH_BAND = #{isCutWatchBand,javaType=Boolean,jdbcType=BIT} ,
		        CUT_NUM = #{cutNum,javaType=Integer,jdbcType=INTEGER} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_td_so_line_sn where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_td_so_line_sn 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TtdSoLineSnResult" flushCache="false">
			select <include refid="ttdSoLineSnColumns" />
		    <![CDATA[
			    from t_td_so_line_sn 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TtdSoLineSnResult" flushCache="false">
			select <include refid="ttdSoLineSnColumns" />
			    from t_td_so_line_sn 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="ttdSoLineSnDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="soId!=null">
					and SO_ID = #{soId}
				</if>
	       
				<if test="soLineId!=null">
					and SO_LINE_ID = #{soLineId}
				</if>
	       
				<if test="sn!=null">
					and SN = #{sn}
				</if>
	       
				<if test="status!=null">
					and STATUS = #{status}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="isHaveSub!=null">
					and IS_HAVE_SUB = #{isHaveSub}
				</if>
	       
				<if test="isCutWatchBand!=null">
					and IS_CUT_WATCH_BAND = #{isCutWatchBand}
				</if>
	       
				<if test="cutNum!=null">
					and CUT_NUM = #{cutNum}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_td_so_line_sn 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_td_so_line_sn 
		<include refid="ttdSoLineSnDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_td_so_line_sn 
		<include refid="ttdSoLineSnDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TtdSoLineSnResult">
    	select <include refid="ttdSoLineSnColumns" />
	    from t_td_so_line_sn 
		<include refid="ttdSoLineSnDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TtdSoLineSnResult">
    	select <include refid="ttdSoLineSnColumns" />
	    from t_td_so_line_sn 
		<include refid="ttdSoLineSnDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TtdSoLineSnResult">
    	select <include refid="ttdSoLineSnColumns" />
	    from t_td_so_line_sn 
		<include refid="ttdSoLineSnDynamicWhere"/>
		
    </select>

	
</mapper>
