<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TtdSalesOrderLineDao">
	<resultMap id="TtdSalesOrderLineResult" type="io.vitess.model.sqlmap.TtdSalesOrderLine">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ttdSalesOrderLineColumns">
	    <![CDATA[
	        	ID as id,
	        	SALES_ORDER_ID as salesOrderId,
	        	PLATFORM_ORDER_LINE_CODE as platformOrderLineCode,
	        	ORDER_LINE_TYPE as orderLineType,
	        	PLATFORM_WH_CODE as platformWhCode,
	        	SKU_ID as skuId,
	        	EXTENTION_CODE as extentionCode,
	        	SKU_CODE as skuCode,
	        	SKU_NAME as skuName,
	        	PLATFORM_SKU_NAME as platformSkuName,
	        	BAR_CODE as barCode,
	        	KEY_PROPERTIES as keyProperties,
	        	IS_COMBO_SKU as isComboSku,
	        	COMBO_SKU_EXT_CODE_ORGIN as comboSkuExtCodeOrgin,
	        	INIT_QTY as initQty,
	        	QUANTITY as quantity,
	        	LIST_PRICE as listPrice,
	        	UNIT_PRICE as unitPrice,
	        	TOTAL_AMOUNT as totalAmount,
	        	LINE_DISCOUNT as lineDiscount,
	        	TOTAL_DISCOUNT as totalDiscount,
	        	TOTAL_AMOUNT_AFTER_DISCOUNT as totalAmountAfterDiscount,
	        	UNIT_PRICE_AFTER_DISCOUNT as unitPriceAfterDiscount,
	        	VIRTUAL_AMOUNT as virtualAmount,
	        	INVOICE_TOTAL_AMOUNT as invoiceTotalAmount,
	        	INVOICE_UNIT_PRICE as invoiceUnitPrice,
	        	TOTAL_POINT_USED as totalPointUsed,
	        	WARRANTY_MONTHS as warrantyMonths,
	        	SOURCE_REMARK as sourceRemark,
	        	ACTIVITY_SOURCE as activitySource,
	        	VERSION as version,
	        	VMI_DISCOUNT_CODE as vmiDiscountCode,
	        	POS_SALES as posSales,
	        	RA_SO_LINE_ID as raSoLineId,
	        	SKU_COMBO_REMARK as skuComboRemark,
	        	SOURCE_TYPE as sourceType,
	        	EST_CON_TIME as estConTime,
	        	SPLIT_SOURCE_LINE_ID as splitSourceLineId,
	        	PIC_PATH as picPath,
	        	SALES_MODEL as salesModel,
	        	SHOP_ID as shopId,
	        	SUB_ORDER_TAX_FEE as subOrderTaxFee,
	        	OUT_OWNER as outOwner,
	        	ASSEMBLY_RELA as assemblyRela,
	        	TOTAL_FEE as totalFee,
	        	FQG_NUM as fqgNum,
	        	IS_FQG_S_FEE as isFqgSfee,
	        	LOCATION_CODE as locationCode,
	        	PLATFORM_SKU_ID as platformSkuId,
	        	BTACH_CODE as btachCode,
	        	MFG_DATE as mfgDate,
	        	EXP_DATE as expDate,
	        	COUPON_FEE as couponFee
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TtdSalesOrderLine"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_td_sales_order_line (
		        id,
		        	SALES_ORDER_ID ,
		        	PLATFORM_ORDER_LINE_CODE ,
		        	ORDER_LINE_TYPE ,
		        	PLATFORM_WH_CODE ,
		        	SKU_ID ,
		        	EXTENTION_CODE ,
		        	SKU_CODE ,
		        	SKU_NAME ,
		        	PLATFORM_SKU_NAME ,
		        	BAR_CODE ,
		        	KEY_PROPERTIES ,
		        	IS_COMBO_SKU ,
		        	COMBO_SKU_EXT_CODE_ORGIN ,
		        	INIT_QTY ,
		        	QUANTITY ,
		        	LIST_PRICE ,
		        	UNIT_PRICE ,
		        	TOTAL_AMOUNT ,
		        	LINE_DISCOUNT ,
		        	TOTAL_DISCOUNT ,
		        	TOTAL_AMOUNT_AFTER_DISCOUNT ,
		        	UNIT_PRICE_AFTER_DISCOUNT ,
		        	VIRTUAL_AMOUNT ,
		        	INVOICE_TOTAL_AMOUNT ,
		        	INVOICE_UNIT_PRICE ,
		        	TOTAL_POINT_USED ,
		        	WARRANTY_MONTHS ,
		        	SOURCE_REMARK ,
		        	ACTIVITY_SOURCE ,
		        	VERSION ,
		        	VMI_DISCOUNT_CODE ,
		        	POS_SALES ,
		        	RA_SO_LINE_ID ,
		        	SKU_COMBO_REMARK ,
		        	SOURCE_TYPE ,
		        	EST_CON_TIME ,
		        	SPLIT_SOURCE_LINE_ID ,
		        	PIC_PATH ,
		        	SALES_MODEL ,
		        	SHOP_ID ,
		        	SUB_ORDER_TAX_FEE ,
		        	OUT_OWNER ,
		        	ASSEMBLY_RELA ,
		        	TOTAL_FEE ,
		        	FQG_NUM ,
		        	IS_FQG_S_FEE ,
		        	LOCATION_CODE ,
		        	PLATFORM_SKU_ID ,
		        	BTACH_CODE ,
		        	MFG_DATE ,
		        	EXP_DATE ,
		        	COUPON_FEE 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{salesOrderId,javaType=Long,jdbcType=BIGINT} ,
		        	#{platformOrderLineCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{orderLineType,javaType=Integer,jdbcType=INTEGER} ,
		        	#{platformWhCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{skuId,javaType=Integer,jdbcType=INTEGER} ,
		        	#{extentionCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{skuCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{skuName,javaType=String,jdbcType=VARCHAR} ,
		        	#{platformSkuName,javaType=String,jdbcType=VARCHAR} ,
		        	#{barCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{keyProperties,javaType=String,jdbcType=VARCHAR} ,
		        	#{isComboSku,javaType=Integer,jdbcType=TINYINT} ,
		        	#{comboSkuExtCodeOrgin,javaType=String,jdbcType=VARCHAR} ,
		        	#{initQty,javaType=Integer,jdbcType=INTEGER} ,
		        	#{quantity,javaType=Integer,jdbcType=INTEGER} ,
		        	#{listPrice,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{unitPrice,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{totalAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{lineDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{totalDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{totalAmountAfterDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{unitPriceAfterDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{virtualAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{invoiceTotalAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{invoiceUnitPrice,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{totalPointUsed,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{warrantyMonths,javaType=Integer,jdbcType=INTEGER} ,
		        	#{sourceRemark,javaType=String,jdbcType=VARCHAR} ,
		        	#{activitySource,javaType=String,jdbcType=VARCHAR} ,
		        	#{version,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{vmiDiscountCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{posSales,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{raSoLineId,javaType=Long,jdbcType=BIGINT} ,
		        	#{skuComboRemark,javaType=String,jdbcType=VARCHAR} ,
		        	#{sourceType,javaType=Integer,jdbcType=INTEGER} ,
		        	#{estConTime,javaType=String,jdbcType=VARCHAR} ,
		        	#{splitSourceLineId,javaType=Long,jdbcType=BIGINT} ,
		        	#{picPath,javaType=String,jdbcType=VARCHAR} ,
		        	#{salesModel,javaType=String,jdbcType=VARCHAR} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{subOrderTaxFee,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{outOwner,javaType=String,jdbcType=VARCHAR} ,
		        	#{assemblyRela,javaType=Long,jdbcType=BIGINT} ,
		        	#{totalFee,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        	#{fqgNum,javaType=Integer,jdbcType=INTEGER} ,
		        	#{isFqgSfee,javaType=Integer,jdbcType=INTEGER} ,
		        	#{locationCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{platformSkuId,javaType=Long,jdbcType=BIGINT} ,
		        	#{btachCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{mfgDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{expDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{couponFee,javaType=java.math.BigDecimal,jdbcType=DECIMAL} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TtdSalesOrderLine">
	    <![CDATA[
	        UPDATE t_td_sales_order_line SET
		        SALES_ORDER_ID = #{salesOrderId,javaType=Long,jdbcType=BIGINT} ,
		        PLATFORM_ORDER_LINE_CODE = #{platformOrderLineCode,javaType=String,jdbcType=VARCHAR} ,
		        ORDER_LINE_TYPE = #{orderLineType,javaType=Integer,jdbcType=INTEGER} ,
		        PLATFORM_WH_CODE = #{platformWhCode,javaType=String,jdbcType=VARCHAR} ,
		        SKU_ID = #{skuId,javaType=Integer,jdbcType=INTEGER} ,
		        EXTENTION_CODE = #{extentionCode,javaType=String,jdbcType=VARCHAR} ,
		        SKU_CODE = #{skuCode,javaType=String,jdbcType=VARCHAR} ,
		        SKU_NAME = #{skuName,javaType=String,jdbcType=VARCHAR} ,
		        PLATFORM_SKU_NAME = #{platformSkuName,javaType=String,jdbcType=VARCHAR} ,
		        BAR_CODE = #{barCode,javaType=String,jdbcType=VARCHAR} ,
		        KEY_PROPERTIES = #{keyProperties,javaType=String,jdbcType=VARCHAR} ,
		        IS_COMBO_SKU = #{isComboSku,javaType=Integer,jdbcType=TINYINT} ,
		        COMBO_SKU_EXT_CODE_ORGIN = #{comboSkuExtCodeOrgin,javaType=String,jdbcType=VARCHAR} ,
		        INIT_QTY = #{initQty,javaType=Integer,jdbcType=INTEGER} ,
		        QUANTITY = #{quantity,javaType=Integer,jdbcType=INTEGER} ,
		        LIST_PRICE = #{listPrice,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        UNIT_PRICE = #{unitPrice,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        TOTAL_AMOUNT = #{totalAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        LINE_DISCOUNT = #{lineDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        TOTAL_DISCOUNT = #{totalDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        TOTAL_AMOUNT_AFTER_DISCOUNT = #{totalAmountAfterDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        UNIT_PRICE_AFTER_DISCOUNT = #{unitPriceAfterDiscount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        VIRTUAL_AMOUNT = #{virtualAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        INVOICE_TOTAL_AMOUNT = #{invoiceTotalAmount,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        INVOICE_UNIT_PRICE = #{invoiceUnitPrice,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        TOTAL_POINT_USED = #{totalPointUsed,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        WARRANTY_MONTHS = #{warrantyMonths,javaType=Integer,jdbcType=INTEGER} ,
		        SOURCE_REMARK = #{sourceRemark,javaType=String,jdbcType=VARCHAR} ,
		        ACTIVITY_SOURCE = #{activitySource,javaType=String,jdbcType=VARCHAR} ,
		        VERSION = #{version,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        VMI_DISCOUNT_CODE = #{vmiDiscountCode,javaType=String,jdbcType=VARCHAR} ,
		        POS_SALES = #{posSales,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        RA_SO_LINE_ID = #{raSoLineId,javaType=Long,jdbcType=BIGINT} ,
		        SKU_COMBO_REMARK = #{skuComboRemark,javaType=String,jdbcType=VARCHAR} ,
		        SOURCE_TYPE = #{sourceType,javaType=Integer,jdbcType=INTEGER} ,
		        EST_CON_TIME = #{estConTime,javaType=String,jdbcType=VARCHAR} ,
		        SPLIT_SOURCE_LINE_ID = #{splitSourceLineId,javaType=Long,jdbcType=BIGINT} ,
		        PIC_PATH = #{picPath,javaType=String,jdbcType=VARCHAR} ,
		        SALES_MODEL = #{salesModel,javaType=String,jdbcType=VARCHAR} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        SUB_ORDER_TAX_FEE = #{subOrderTaxFee,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        OUT_OWNER = #{outOwner,javaType=String,jdbcType=VARCHAR} ,
		        ASSEMBLY_RELA = #{assemblyRela,javaType=Long,jdbcType=BIGINT} ,
		        TOTAL_FEE = #{totalFee,javaType=java.math.BigDecimal,jdbcType=DECIMAL} ,
		        FQG_NUM = #{fqgNum,javaType=Integer,jdbcType=INTEGER} ,
		        IS_FQG_S_FEE = #{isFqgSfee,javaType=Integer,jdbcType=INTEGER} ,
		        LOCATION_CODE = #{locationCode,javaType=String,jdbcType=VARCHAR} ,
		        PLATFORM_SKU_ID = #{platformSkuId,javaType=Long,jdbcType=BIGINT} ,
		        BTACH_CODE = #{btachCode,javaType=String,jdbcType=VARCHAR} ,
		        MFG_DATE = #{mfgDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        EXP_DATE = #{expDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        COUPON_FEE = #{couponFee,javaType=java.math.BigDecimal,jdbcType=DECIMAL} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_td_sales_order_line where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_td_sales_order_line 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TtdSalesOrderLineResult" flushCache="false">
			select <include refid="ttdSalesOrderLineColumns" />
		    <![CDATA[
			    from t_td_sales_order_line 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TtdSalesOrderLineResult" flushCache="false">
			select <include refid="ttdSalesOrderLineColumns" />
			    from t_td_sales_order_line 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="ttdSalesOrderLineDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="salesOrderId!=null">
					and SALES_ORDER_ID = #{salesOrderId}
				</if>
	       
				<if test="platformOrderLineCode!=null">
					and PLATFORM_ORDER_LINE_CODE = #{platformOrderLineCode}
				</if>
	       
				<if test="orderLineType!=null">
					and ORDER_LINE_TYPE = #{orderLineType}
				</if>
	       
				<if test="platformWhCode!=null">
					and PLATFORM_WH_CODE = #{platformWhCode}
				</if>
	       
				<if test="skuId!=null">
					and SKU_ID = #{skuId}
				</if>
	       
				<if test="extentionCode!=null">
					and EXTENTION_CODE = #{extentionCode}
				</if>
	       
				<if test="skuCode!=null">
					and SKU_CODE = #{skuCode}
				</if>
	       
				<if test="skuName!=null">
					and SKU_NAME = #{skuName}
				</if>
	       
				<if test="platformSkuName!=null">
					and PLATFORM_SKU_NAME = #{platformSkuName}
				</if>
	       
				<if test="barCode!=null">
					and BAR_CODE = #{barCode}
				</if>
	       
				<if test="keyProperties!=null">
					and KEY_PROPERTIES = #{keyProperties}
				</if>
	       
				<if test="isComboSku!=null">
					and IS_COMBO_SKU = #{isComboSku}
				</if>
	       
				<if test="comboSkuExtCodeOrgin!=null">
					and COMBO_SKU_EXT_CODE_ORGIN = #{comboSkuExtCodeOrgin}
				</if>
	       
				<if test="initQty!=null">
					and INIT_QTY = #{initQty}
				</if>
	       
				<if test="quantity!=null">
					and QUANTITY = #{quantity}
				</if>
	       
				<if test="listPrice!=null">
					and LIST_PRICE = #{listPrice}
				</if>
	       
				<if test="unitPrice!=null">
					and UNIT_PRICE = #{unitPrice}
				</if>
	       
				<if test="totalAmount!=null">
					and TOTAL_AMOUNT = #{totalAmount}
				</if>
	       
				<if test="lineDiscount!=null">
					and LINE_DISCOUNT = #{lineDiscount}
				</if>
	       
				<if test="totalDiscount!=null">
					and TOTAL_DISCOUNT = #{totalDiscount}
				</if>
	       
				<if test="totalAmountAfterDiscount!=null">
					and TOTAL_AMOUNT_AFTER_DISCOUNT = #{totalAmountAfterDiscount}
				</if>
	       
				<if test="unitPriceAfterDiscount!=null">
					and UNIT_PRICE_AFTER_DISCOUNT = #{unitPriceAfterDiscount}
				</if>
	       
				<if test="virtualAmount!=null">
					and VIRTUAL_AMOUNT = #{virtualAmount}
				</if>
	       
				<if test="invoiceTotalAmount!=null">
					and INVOICE_TOTAL_AMOUNT = #{invoiceTotalAmount}
				</if>
	       
				<if test="invoiceUnitPrice!=null">
					and INVOICE_UNIT_PRICE = #{invoiceUnitPrice}
				</if>
	       
				<if test="totalPointUsed!=null">
					and TOTAL_POINT_USED = #{totalPointUsed}
				</if>
	       
				<if test="warrantyMonths!=null">
					and WARRANTY_MONTHS = #{warrantyMonths}
				</if>
	       
				<if test="sourceRemark!=null">
					and SOURCE_REMARK = #{sourceRemark}
				</if>
	       
				<if test="activitySource!=null">
					and ACTIVITY_SOURCE = #{activitySource}
				</if>
	       
				<if test="version!=null">
					and VERSION = #{version}
				</if>
	       
				<if test="vmiDiscountCode!=null">
					and VMI_DISCOUNT_CODE = #{vmiDiscountCode}
				</if>
	       
				<if test="posSales!=null">
					and POS_SALES = #{posSales}
				</if>
	       
				<if test="raSoLineId!=null">
					and RA_SO_LINE_ID = #{raSoLineId}
				</if>
	       
				<if test="skuComboRemark!=null">
					and SKU_COMBO_REMARK = #{skuComboRemark}
				</if>
	       
				<if test="sourceType!=null">
					and SOURCE_TYPE = #{sourceType}
				</if>
	       
				<if test="estConTime!=null">
					and EST_CON_TIME = #{estConTime}
				</if>
	       
				<if test="splitSourceLineId!=null">
					and SPLIT_SOURCE_LINE_ID = #{splitSourceLineId}
				</if>
	       
				<if test="picPath!=null">
					and PIC_PATH = #{picPath}
				</if>
	       
				<if test="salesModel!=null">
					and SALES_MODEL = #{salesModel}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="subOrderTaxFee!=null">
					and SUB_ORDER_TAX_FEE = #{subOrderTaxFee}
				</if>
	       
				<if test="outOwner!=null">
					and OUT_OWNER = #{outOwner}
				</if>
	       
				<if test="assemblyRela!=null">
					and ASSEMBLY_RELA = #{assemblyRela}
				</if>
	       
				<if test="totalFee!=null">
					and TOTAL_FEE = #{totalFee}
				</if>
	       
				<if test="fqgNum!=null">
					and FQG_NUM = #{fqgNum}
				</if>
	       
				<if test="isFqgSfee!=null">
					and IS_FQG_S_FEE = #{isFqgSfee}
				</if>
	       
				<if test="locationCode!=null">
					and LOCATION_CODE = #{locationCode}
				</if>
	       
				<if test="platformSkuId!=null">
					and PLATFORM_SKU_ID = #{platformSkuId}
				</if>
	       
				<if test="btachCode!=null">
					and BTACH_CODE = #{btachCode}
				</if>
	       
				<if test="mfgDate!=null">
					and MFG_DATE = #{mfgDate}
				</if>
	       
				<if test="expDate!=null">
					and EXP_DATE = #{expDate}
				</if>
	       
				<if test="couponFee!=null">
					and COUPON_FEE = #{couponFee}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_td_sales_order_line 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_td_sales_order_line 
		<include refid="ttdSalesOrderLineDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_td_sales_order_line 
		<include refid="ttdSalesOrderLineDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TtdSalesOrderLineResult">
    	select <include refid="ttdSalesOrderLineColumns" />
	    from t_td_sales_order_line 
		<include refid="ttdSalesOrderLineDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TtdSalesOrderLineResult">
    	select <include refid="ttdSalesOrderLineColumns" />
	    from t_td_sales_order_line 
		<include refid="ttdSalesOrderLineDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TtdSalesOrderLineResult">
    	select <include refid="ttdSalesOrderLineColumns" />
	    from t_td_sales_order_line 
		<include refid="ttdSalesOrderLineDynamicWhere"/>
		
    </select>

	
</mapper>
