<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TtdSoLineSnChildDao">
	<resultMap id="TtdSoLineSnChildResult" type="io.vitess.model.sqlmap.TtdSoLineSnChild">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ttdSoLineSnChildColumns">
	    <![CDATA[
	        	ID as id,
	        	SO_ID as soId,
	        	SO_LINE_ID as soLineId,
	        	SO_LINE_SN_ID as soLineSnId,
	        	SN as sn,
	        	PARENT_SN as parentSn,
	        	STATUS as status,
	        	SHOP_ID as shopId
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TtdSoLineSnChild"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_td_so_line_sn_child (
		        id,
		        	SO_ID ,
		        	SO_LINE_ID ,
		        	SO_LINE_SN_ID ,
		        	SN ,
		        	PARENT_SN ,
		        	STATUS ,
		        	SHOP_ID 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{soId,javaType=Long,jdbcType=BIGINT} ,
		        	#{soLineId,javaType=Long,jdbcType=BIGINT} ,
		        	#{soLineSnId,javaType=Long,jdbcType=BIGINT} ,
		        	#{sn,javaType=String,jdbcType=VARCHAR} ,
		        	#{parentSn,javaType=String,jdbcType=VARCHAR} ,
		        	#{status,javaType=Integer,jdbcType=TINYINT} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TtdSoLineSnChild">
	    <![CDATA[
	        UPDATE t_td_so_line_sn_child SET
		        SO_ID = #{soId,javaType=Long,jdbcType=BIGINT} ,
		        SO_LINE_ID = #{soLineId,javaType=Long,jdbcType=BIGINT} ,
		        SO_LINE_SN_ID = #{soLineSnId,javaType=Long,jdbcType=BIGINT} ,
		        SN = #{sn,javaType=String,jdbcType=VARCHAR} ,
		        PARENT_SN = #{parentSn,javaType=String,jdbcType=VARCHAR} ,
		        STATUS = #{status,javaType=Integer,jdbcType=TINYINT} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_td_so_line_sn_child where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_td_so_line_sn_child 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TtdSoLineSnChildResult" flushCache="false">
			select <include refid="ttdSoLineSnChildColumns" />
		    <![CDATA[
			    from t_td_so_line_sn_child 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TtdSoLineSnChildResult" flushCache="false">
			select <include refid="ttdSoLineSnChildColumns" />
			    from t_td_so_line_sn_child 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="ttdSoLineSnChildDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="soId!=null">
					and SO_ID = #{soId}
				</if>
	       
				<if test="soLineId!=null">
					and SO_LINE_ID = #{soLineId}
				</if>
	       
				<if test="soLineSnId!=null">
					and SO_LINE_SN_ID = #{soLineSnId}
				</if>
	       
				<if test="sn!=null">
					and SN = #{sn}
				</if>
	       
				<if test="parentSn!=null">
					and PARENT_SN = #{parentSn}
				</if>
	       
				<if test="status!=null">
					and STATUS = #{status}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_td_so_line_sn_child 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_td_so_line_sn_child 
		<include refid="ttdSoLineSnChildDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_td_so_line_sn_child 
		<include refid="ttdSoLineSnChildDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TtdSoLineSnChildResult">
    	select <include refid="ttdSoLineSnChildColumns" />
	    from t_td_so_line_sn_child 
		<include refid="ttdSoLineSnChildDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TtdSoLineSnChildResult">
    	select <include refid="ttdSoLineSnChildColumns" />
	    from t_td_so_line_sn_child 
		<include refid="ttdSoLineSnChildDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TtdSoLineSnChildResult">
    	select <include refid="ttdSoLineSnChildColumns" />
	    from t_td_so_line_sn_child 
		<include refid="ttdSoLineSnChildDynamicWhere"/>
		
    </select>

	
</mapper>
