<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TtdSoWfTaskDao">
	<resultMap id="TtdSoWfTaskResult" type="io.vitess.model.sqlmap.TtdSoWfTask">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ttdSoWfTaskColumns">
	    <![CDATA[
	        	ID as id,
	        	TASK_ID as taskId,
	        	CMD as cmd,
	        	log as log,
	        	SHOP_ID as shopId,
	        	CREATE_TIME as createTime,
	        	PROCESS_STATUS as processStatus,
	        	PROCESS_RESULT as processResult,
	        	PROCESS_TIME as processTime
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TtdSoWfTask"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_td_so_wf_task (
		        id,
		        	TASK_ID ,
		        	CMD ,
		        	log ,
		        	SHOP_ID ,
		        	CREATE_TIME ,
		        	PROCESS_STATUS ,
		        	PROCESS_RESULT ,
		        	PROCESS_TIME 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{taskId,javaType=Long,jdbcType=BIGINT} ,
		        	#{cmd,javaType=String,jdbcType=VARCHAR} ,
		        	#{log,javaType=String,jdbcType=VARCHAR} ,
		        	#{shopId,javaType=Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{processStatus,javaType=Integer,jdbcType=TINYINT} ,
		        	#{processResult,javaType=String,jdbcType=VARCHAR} ,
		        	#{processTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TtdSoWfTask">
	    <![CDATA[
	        UPDATE t_td_so_wf_task SET
		        TASK_ID = #{taskId,javaType=Long,jdbcType=BIGINT} ,
		        CMD = #{cmd,javaType=String,jdbcType=VARCHAR} ,
		        log = #{log,javaType=String,jdbcType=VARCHAR} ,
		        SHOP_ID = #{shopId,javaType=Long,jdbcType=BIGINT} ,
		        CREATE_TIME = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        PROCESS_STATUS = #{processStatus,javaType=Integer,jdbcType=TINYINT} ,
		        PROCESS_RESULT = #{processResult,javaType=String,jdbcType=VARCHAR} ,
		        PROCESS_TIME = #{processTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_td_so_wf_task where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_td_so_wf_task 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TtdSoWfTaskResult" flushCache="false">
			select <include refid="ttdSoWfTaskColumns" />
		    <![CDATA[
			    from t_td_so_wf_task 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TtdSoWfTaskResult" flushCache="false">
			select <include refid="ttdSoWfTaskColumns" />
			    from t_td_so_wf_task 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="ttdSoWfTaskDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="taskId!=null">
					and TASK_ID = #{taskId}
				</if>
	       
				<if test="cmd!=null">
					and CMD = #{cmd}
				</if>
	       
				<if test="log!=null">
					and log = #{log}
				</if>
	       
				<if test="shopId!=null">
					and SHOP_ID = #{shopId}
				</if>
	       
				<if test="createTime!=null">
					and CREATE_TIME = #{createTime}
				</if>
	       
				<if test="processStatus!=null">
					and PROCESS_STATUS = #{processStatus}
				</if>
	       
				<if test="processResult!=null">
					and PROCESS_RESULT = #{processResult}
				</if>
	       
				<if test="processTime!=null">
					and PROCESS_TIME = #{processTime}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_td_so_wf_task 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_td_so_wf_task 
		<include refid="ttdSoWfTaskDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_td_so_wf_task 
		<include refid="ttdSoWfTaskDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TtdSoWfTaskResult">
    	select <include refid="ttdSoWfTaskColumns" />
	    from t_td_so_wf_task 
		<include refid="ttdSoWfTaskDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TtdSoWfTaskResult">
    	select <include refid="ttdSoWfTaskColumns" />
	    from t_td_so_wf_task 
		<include refid="ttdSoWfTaskDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TtdSoWfTaskResult">
    	select <include refid="ttdSoWfTaskColumns" />
	    from t_td_so_wf_task 
		<include refid="ttdSoWfTaskDynamicWhere"/>
		
    </select>

	
</mapper>
