<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="io.vitess.dao.sqlmap.TwfWorkflowActionRegDao">
	<resultMap id="TwfWorkflowActionRegResult" type="io.vitess.model.sqlmap.TwfWorkflowActionReg">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="twfWorkflowActionRegColumns">
	    <![CDATA[
	        	ID as id,
	        	ACTION_CLASS_NAME as actionClassName,
	        	NAME as name,
	        	SORT_NO as sortNo,
	        	WORKFLOW_TRANSITION_ID as workflowTransitionId
	    ]]>
	</sql>

		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="io.vitess.model.sqlmap.TwfWorkflowActionReg"
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wf_workflow_action_reg (
		        id,
		        	ACTION_CLASS_NAME ,
		        	NAME ,
		        	SORT_NO ,
		        	WORKFLOW_TRANSITION_ID 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{actionClassName,javaType=String,jdbcType=VARCHAR} ,
		        	#{name,javaType=String,jdbcType=VARCHAR} ,
		        	#{sortNo,javaType=Integer,jdbcType=INTEGER} ,
		        	#{workflowTransitionId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		

		<update id="update" parameterType="io.vitess.model.sqlmap.TwfWorkflowActionReg">
	    <![CDATA[
	        UPDATE t_wf_workflow_action_reg SET
		        ACTION_CLASS_NAME = #{actionClassName,javaType=String,jdbcType=VARCHAR} ,
		        NAME = #{name,javaType=String,jdbcType=VARCHAR} ,
		        SORT_NO = #{sortNo,javaType=Integer,jdbcType=INTEGER} ,
		        WORKFLOW_TRANSITION_ID = #{workflowTransitionId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wf_workflow_action_reg where
		        ID = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wf_workflow_action_reg 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="TwfWorkflowActionRegResult" flushCache="false">
			select <include refid="twfWorkflowActionRegColumns" />
		    <![CDATA[
			    from t_wf_workflow_action_reg 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="TwfWorkflowActionRegResult" flushCache="false">
			select <include refid="twfWorkflowActionRegColumns" />
			    from t_wf_workflow_action_reg 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="twfWorkflowActionRegDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and ID = #{id}
				</if>
	       
				<if test="actionClassName!=null">
					and ACTION_CLASS_NAME = #{actionClassName}
				</if>
	       
				<if test="name!=null">
					and NAME = #{name}
				</if>
	       
				<if test="sortNo!=null">
					and SORT_NO = #{sortNo}
				</if>
	       
				<if test="workflowTransitionId!=null">
					and WORKFLOW_TRANSITION_ID = #{workflowTransitionId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wf_workflow_action_reg 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wf_workflow_action_reg 
		<include refid="twfWorkflowActionRegDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wf_workflow_action_reg 
		<include refid="twfWorkflowActionRegDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TwfWorkflowActionRegResult">
    	select <include refid="twfWorkflowActionRegColumns" />
	    from t_wf_workflow_action_reg 
		<include refid="twfWorkflowActionRegDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="TwfWorkflowActionRegResult">
    	select <include refid="twfWorkflowActionRegColumns" />
	    from t_wf_workflow_action_reg 
		<include refid="twfWorkflowActionRegDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="TwfWorkflowActionRegResult">
    	select <include refid="twfWorkflowActionRegColumns" />
	    from t_wf_workflow_action_reg 
		<include refid="twfWorkflowActionRegDynamicWhere"/>
		
    </select>

	
</mapper>
